.ex-markdown-editor .uk-placeholder {
    padding: 5px;
    margin: 0;
}
.ex-markdown-editor .uk-progress {
    margin: 0;
    height: 2px;
    border-radius: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.ex-markdown-editor .uk-alert {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 5px 29px 5px 10px;
    font-size: .8em;
}
.ex-markdown-editor .uk-alert-close {
    top: 8px;
    right: 10px;
}
.ex-markdown-editor *+.uk-alert {
    margin-top: 5px;
}
.markdown *+.uk-h1,
.markdown *+.uk-h2,
.markdown *+.uk-h3,
.markdown *+.uk-h4,
.markdown *+.uk-h5,
.markdown *+.uk-h6,
.markdown *+h1,
.markdown *+h2,
.markdown *+h3,
.markdown *+h4,
.markdown *+h5,
.markdown *+h6 {
    margin-top: 0;
}
